build
*.~undo-tree~
*.fasl
contrib*
*.exe
*.core
*.dll
*.so
system-index.txt
*.pdf
*.html
_p.png
*.texi
*.aux
*.fn
*.fns
*.log
*.toc
*.tp
*.tps
*.vr
*.vrs
*.json
*.mp4
dist
*.tgz
*.txt
*.fas
*.a
leszcz
*.zip
\#*\#